body {
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: center;
}
.header,
.footer {
    background-color: #5792BB;
}
.header-main-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 10px;
}
.header-main-text p,
.header-bar a{
    font-size: 18px;
    color: #e5e7eb;
}
.header-bar a{
    padding: 10px;
}
.header-bar a:hover{
    background-color: #e5e7eb;
    color: #1f2937;
    border: none;
    border-radius: 8px;
}

.header-bar p {
    font-size: 24px;
    color: #f9faf8;
}
.header-main-text a {
    background-color: #FF956E;
    padding: 10px 30px;
    color: #e5e7eb;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: 600;
}

.sign-up a {
    padding: 10px 30px;
    color: #e5e7eb;
    border: solid #e5e7eb;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: 600;
}

.sign-up a:hover{
    background-color: #e5e7eb;
    color: #FF956E;
}

.header-main-text a:hover {
    background-color: #ffffff;
    color: #FF956E;
}

.second-part h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.quote-section {
    background-color: #5792BB;
}
.quote-section p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #e5e7eb;
}

.quote-section h3 {
    color: #e5e7eb;
}

.footer {
    text-align: center;
    color: #e5e7eb;
    word-spacing: 5px
}

/* flex settings start from here */

.header {
    display: flex;
    flex-direction: column;
    padding: 0 100px 70px;
    gap: 15px;
}

#logo {
    width: auto;
    height: 70px;
}

.logo {
    display: flex;
    margin: 15px 0;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 15px;
    padding: 0;
}
a {
    text-decoration: none;

}
#hero-img {
    max-width: 600px;
}
.header-main-part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.header-main-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.info-box {
    display: flex;
    gap: 20px;
    padding: 0 70px;
    flex-wrap: wrap;

}
.second-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info img {
    border:#FFDA6E solid;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: 30px;
}

.info p{
    width: 200px;
    padding: 30px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 100px;
    flex-wrap: wrap;
    align-content: center;
}

.quote-section p {
    width: 800px;
}
.quote-section h3 {
    text-align:end;
    margin: 0;
}

.third-part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background-color: #FF956E;
    padding: 20px 60px;
}

.sign-up-text {
    color: #ffffff;
}

.sign-up-text h4 {
    margin-bottom: 0;
    font-size: larger;
}

.sign-up-text p {
    margin-top: 5px;
}